<div id="sidebar">
    <div class="navigation">
        <ul>
            <li class="nav-item"><a href="/map">Map</a></li>
            <li class="nav-item"><a href="/drive">Drive</a></li>
            <li class="nav-item"><a href="#">Statistics</a></li>
            <li class="nav-item"><a href="#">Maintenance</a></li>
            <li class="nav-item"><a href="/account">Account</a></li>
        </ul>
    </div>
</div>