<div id = "map"> 
    <iframe width="100%" height="100%" src="http://54.253.183.209:1001/">
    </iframe>
</div>
<div id = "drive"> 
    <iframe frameBorder="0" width="210px" height="40px" src="http://54.253.183.209:1005/">
    </iframe>
</div>

